@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<FoodGraphr.Model.Food>>
<div id="searchbox">
    <form method="post" action="/">
        <input type="text" name="name"/>
        <button>Search</button>
    </form>
</div>
<div id="foods">
    <table>
        @foreach (var food in @Model)
        {
            <tr><td><p><a href="food/@food.Number">@food.Name</a></p></td></tr>
        }                
    </table>
    @if (@Model.Count == 0)
    {
        <div id="error"><p>Det finns inget livsmedel med det namnet.</p></div>
    }
</div>
