body, input[type="text"], button {
    font-family: Candara;
}
input[type="text"], button {
    font-size: 18px;
}
body {
    background-color: #efeded;
}

#container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#searchbox form {
    margin-bottom: 30px;
}

#header, #searchbox {
    display: inline;
    text-align: center;
}

#content {
    border: 1px solid #000;
    text-align: center;
    background-color: #FFF;
    padding: 20px;
}
#content p {
    margin: 0 0 6px 0;
    padding: 0;
}

#foods {
}

#foods table {
    margin: 0 auto;
    text-align: center;
}

#foods table tr {
    background-color: #FFFFFF;
}

#foods table tr:hover {
    background-color: #f1eded;
}

#foods table td {
    padding: 0px 10px 0px 10px;
    border: 1px solid #808080;
}
#foods table a {
    color: #000;
    text-decoration: none;
}
#foods table a:hover {
    text-decoration: underline;
}