body, input[type="text"], button {
    font-family: Candara;
}
body {
    background-color: #efeded;
}

#container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#header {
    display: inline;
    text-align: center;
}

#content {
    border: 1px solid #000;
    text-align: center;
    background-color: #FFF;
}

#foods {
    padding-top: 40px;
}

#foods table {
    margin: 0 auto;
    text-align: center;
}

#foods table tr {
    background-color: #FFFFFF;
}

#foods table tr:hover {
    background-color: #f1eded;
}

#foods table td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #808080;
}
#foods table a {
    color: #000;
    text-decoration: none;
}
#foods table a:hover {
    text-decoration: underline;
}