@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>FoodGraphr</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/style.css" />
        <link rel="shortcut icon" href="~/Content/Images/icon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>        
        <div id="container">
            <div id="header">
                <h1>FoodGraphr</h1>
            </div>
            @RenderBody()
            <div id="footer">
                <a href="/documentation">API Documentation</a>
            </div> 
        </div>              
    </body>    
</html>